/*
 * Empty Stylesheet file.
 */


.table-cont{
    -fx-background-color: #d7d7d7;
}



.search {
    -fx-background-radius: 50px;
    -fx-background-color: #ECECEC;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-width: 2px
}

.search:focused {
    -fx-background-color: #ffffff; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0, 0, 4); 
}

.search .text {
    -fx-prompt-text-fill: #a0a0a0;
    -fx-text-fill: #333333; 
    -fx-font-size: 16px; 
    -fx-font-family: "Arial", sans-serif;
}
.nav-btn {
    -fx-background-color: transparent;
 
}

.logout-btn{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}


.nav-btn:focused,
.nav-btn:pressed {
    -fx-background-color: transparent; 
    -fx-border-color: #f59318; 
    -fx-text-fill: #f59318; 
    -fx-border-width: 2px; 
    -fx-border-radius: 10px; 
}

.nav-btn:pressed .icon,
.nav-btn:pressed .label,.nav-btn:focused .icon, .nav-btn:focused .label{
    -fx-fill: #f59318; 
    -fx-text-fill: #f59318; 
}

.payment{
    -fx-background-color: green;
}

.lg-btn{
    -fx-background-color: #d7d7d7;
    -fx-border-radius: 5px;
}

.pay-cont{
    -fx-background-color: #dedede;
}

.item-cont{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
}

.cotainer{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-backgroud-color: #ffffff;
}

/* Style the TableView */
.table-view {
    -fx-background-color: transparent; 
    -fx-border-color: #d2d2d2;  
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;     
    -fx-padding: 0;            
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #d2d2d2;
      -fx-background-insets: 0 0 0 0;  
}



.table-view .column-header .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #b3c2ff;    
    -fx-text-fill: #333333;           
}


.table-view .table-row-cell:hover {
    -fx-background-color: #e1e1e1;    
}

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.report-card{
    -fx-background-color: linear-gradient(to bottom right, #FFD900, #FF8D00);
}

.report-btn{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #FFD900;
    -fx-border-radius: 10px;
}

.nav-btn.focused-style,
.nav-btn.pressed-style {
    -fx-background-color: transparent; 
    -fx-border-color: #f59318; 
    -fx-text-fill: #f59318; 
    -fx-border-width: 2px; 
    -fx-border-radius: 10px; 
}

.nav-btn.focused-style .icon,
.nav-btn.focused-style .label,
.nav-btn.pressed-style .icon,
.nav-btn.pressed-style .label {
    -fx-fill: #f59318; 
    -fx-text-fill: #f59318; 
}

